.project
bootstrap/cache/services.php
config/database.php
.env
.idea/
*.amr
vendor/*
/vendor/*
/config/database.php
/config/app.php
*.json
storage/exports/*.xls
*.log
*.amr
*.mp3
storage/framework/views/*
public/thinkphpo/Application/Runtime/*
database/migrations/2017_01_19_093939_create_sessions_table.php
resources/views/notes/testAudio.blade.php
storage/exports/*.xls
